#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  flex-grow: 1;
  background-color: aquamarine;
  padding: 60px 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.bottom {
  margin-top: 80px;
}

.form {
  width: 100%;
  display: flex;
  gap: 20px;
}

.input {
  height: 60px;
  flex-grow: 1;
  padding: 0 20px;
  border-radius: 10px;
  border: none;
}
